<h1><%= @comment.title %></h1>
<h2>By:  <%= link_to full_name(@comment.user), user_path(@comment.user) %></h2>
<h3><%= @comment.rating %> Stars</h3>
<p><%= @comment.body %></p>
<p>- <%= @comment.created_at.strftime("%d %b %Y") %></p>
<h4>Reviewed Recipe: <%= link_to @comment.recipe.name, recipe_path(@comment.recipe) %></h4>

<% if current_user == @comment.user %>
<% if params[:recipe_id] %>
<h6><%= button_to "Edit Comment", edit_recipe_comment_path(@recipe, @comment), method: :get %></h6>
<% else %>
<h6><%= button_to "Edit Comment", edit_comment_path(@comment), method: :get %></h6>
<% end %>
<h6><%= button_to "Delete Comment", @comment, method: :delete, data: {confirm: "Delete this comment?"} %></h6>
<% end %>