<h1><%= @comment.title %></h1>
<h2>By:  <%= @comment.user.full_name %></h2>
<h4><%= @comment.rating %> Stars</h4>
<p><%= @comment.body %></p>

<% if current_user == @comment.user %>
<% if params[:recipe_id] %>
<h6><%= button_to "Edit Comment", edit_recipe_comment_path(@recipe, @comment), method: :get %></h6>
<% else %>
<h6><%= button_to "Edit Comment", edit_comment_path(@comment), method: :get %></h6>
<% end %>
<h6><%= button_to "Delete Comment", @comment, method: :delete, data: {confirm: "Delete this comment?"} %></h6>
<% end %>