<%= form_with model:@recipe, local: :true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <h4>Dietary Restrictions: </h4>
    <%= f.fields_for :dietary_restrictions do |diet| %>
        <%= diet.label :name %>
        <%= diet.text_field :name %><br>
    <% end %>
    <br>
    <h4>Ingredients: </h4>
    <%= f.fields_for :ingredients do |ing| %>
        <%= ing.label :count %>
        <%= ing.number_field :count, step: :any %>
        <%= ing.label :measurement %>
        <%= ing.text_field :measurement %>
        <%= ing.label :name %>
        <%= ing.text_field :name %><br>
    <% end %>
    <%= f.label :steps %>
    <%= f.text_area :steps %><br>
    <%= f.submit %>
<% end %>
