<%= form_with model:@recipe, local: :true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.label :dietary_restrictions %>
    <%= f.text_field :dietary_restrictions %><br>
    <br>
    <h4>Ingredients: </h4>
    <%= form.fields_for :ingredients do |ing| %>
        <%= ing.label :count %>
        <%= ing.number_field :count, step: :any %>
        <%= ing.label :measurement %>
        <%= ing.text_field :measurement %>
        <%= ing.label :name %>
        <%= ing.text_field :name %>
    <% end %>
    <%= f.label :steps %>
    <%= f.textarea :steps %><br>
    <%= f.submit %>
<% end %>
