
<h1><%= @recipe.name %></h1>
<p>Description: <%= @recipe.description %></p>
<h4>Dietary Restrictions: </h4>
<ul>
<% @recipe.dietary_restrictions.each do |diet| %>
<li> <%= diet.name %> </li>
<% end %>
</ul>
<h4>Ingredients:</h4>
<ul>
<% @recipe.ingredients.each do |ing| %>
<li> <%= ing.count %> <%= ing.measurement %> <%= ing.name %> </li>
<% end %>
</ul>

<h4>Instructions: </h4>
<p><%= @recipe.steps %></p>

<h4>Comments: </h4>

<% @recipe.comments.each do |comment| %>
<p> <strong><%= comment.title %></strong><br>
<%= comment.rating %> Stars<br>
<%= comment.body %> <p><br>
<% end %>


<%= link_to "Add a Comment", new_recipe_comment_path(@recipe) %><br>
<%= link_to "See all Comments", recipe_comments_path(@recipe) %>
<% if current_user == @recipe.user %>
<h6><%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get %></h6>
<h6><%= button_to "Delete", @recipe, method: :delete, data: {confirm: "Delete this recipe?"} %></h6>
<% end %>