<h1>Recipe Show Page</h1>
<h2><%= @recipe.name %></h2>
<p><%= @recipe.description %></p>
<ul>
<%= @recipe.ingredients.each do |ing| %>
<li> <%= ing.count %> <%= ing.measurement %> <%= ing.name %> </li>
<% end %>
</ul>
<p><%= @recipe.steps %></p>

<h4>Comments: </h4>
<ul>
<%# @recipe.comments.each do |comment| %>
<%# <li> <%= comment.title %> <%# <br> %>
<%# comment.rating %>
<%# <%= comment.body %>

<%# end %>
</ul>

<h6><%= button_to "Edit", edit_recipe_path(@recipe), method: :get %></h6>
<h6><%= button_to "Delete", @recipe, method: :delete, data: {confirm: "Delete this recipe?"} %></h6>