<h1>Recipe Show Page</h1>
<h2><%= @recipe.name %></h2>
<p>Description: <%= @recipe.description %></p>
<h4>Dietary Restrictions: </h4>
<ul>
<% @recipe.dietary_restrictions.each do |diet| %>
<li> <%= diet.name %> </li>
<% end %>
</ul><br>
<h4>Ingredients:</h4><br>
<ul>
<% @recipe.ingredients.each do |ing| %>
<li> <%= ing.count %> <%= ing.measurement %> <%= ing.name %> </li>
<% end %>
</ul>

<h4>Instructions: </h4>
<p><%= @recipe.steps %></p>

<h4>Comments: </h4>
<ul>
<% @recipe.comments.each do |comment| %>
<li> <%= comment.title %><br>
<%= comment.rating %><br>
<%= comment.body %> </li>
<% end %>
</ul>

<%= link_to "Add a Comment", new_recipe_comment_path(@recipe) %>

<h6><%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get %></h6>
<h6><%= button_to "Delete", @recipe, method: :delete, data: {confirm: "Delete this recipe?"} %></h6>